{% extends "WBT/home.tuike.twig" %}

{% block css_link %}
{{ parent() }}
    <!--<link href="/libs/bootstrap/css/docs.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">-->
{% endblock %}

{% block homeRoleContent %}
<div class="row">
    <div class="span4">
        <div class="bs-docs bs-docs-changepassword thumbnail">
            <form method="post" action="{{ route('m-c-a', ['home','tuike','change_password']) }}">
                <div class="controls">
                    <div style="float:left;width: 80px;text-align: right;margin-top: 5px;">当前密码：</div>
                    <input type="password" id="currentPassword" name="current_password" placeholder="当前密码">
                </div>
                <div class="controls">
                    <div style="float:left;width: 80px;text-align: right;margin-top: 5px;">新密码：</div>
                    <input type="password" id="newPassword" name="new_password" placeholder="新密码">
                </div>
                <div class="controls">
                    <div style="float:left;width: 80px;text-align: right;margin-top: 5px;">确认密码：</div>
                    <input type="password" id="passwordConfirm" name="password_confirm" placeholder="再次输入新密码">
                </div>
                <div class="controls">
                    <div style="float:left;width: 80px;text-align: right;margin-top: 5px;">&nbsp;</div>
                    <button type="submit" class="btn btn-primary">保存</button>
                    <a type="button" class="btn" href="{{ route('m-c-a', ['home','tuike','sns_account']) }}">取消</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}